/* CSS reset */
body{
    margin: 0;
    padding: 0;
    height: 79px;
}
/* Header line */

#navbar{
  
    display: flex;
    padding: 2px;
    width: 100%;
    position: sticky;
    align-items: center;
   
}
#navbar::before{
    content: "";
    background-color: black;
    height: 119%;
    position: absolute;
    width:100%;
    top:0px;
    left:0px;
    z-index: -1;
    opacity: 0.8;
   
}

.logo img{
    width: 100px;
    padding: 9px;
    /* border: 2px solid black; */
}
.logo div{
    padding-left: 15px;
    position: absolute;
    /* border: 2px solid black; */
    top: 70px;
    font-size: 12px;
    color: white;
}
/* Nav Mid */
.mid{
    padding-top: 0px;
    position: absolute;
    left: 160px;
    top: 5px;
    color: white;
    align-items: center;
}
 .mid h3{
           font-size: 23px;
           /* border: 2px solid black;  */
        }
 .mid div{
      top: 0px;
     /* border: 2px solid black;  */
     position: absolute;
     top: 50px;
     font-size: 18px;
     padding-left: 10px;
   }

 /* Header style */
 #header ul{
     top: 11px;
 }
 #navbar ul{
 display: flex;
 /* border: 2px solid black; */
 position: relative;
 left: 355px;
}

#navbar ul li{
    list-style: none;
}
#navbar ul li a{
   
    color: white;
    display: block;
    padding: 11px 30px;
    border-radius: 13px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}


  /* Nav Right */
 .right{
    /* border: 2px solid black; */
    position: absolute;
    right: 24px;
    top: 18px;
    border-radius: 20px;
    cursor: pointer;
 }
.right button{
    border-radius: 20px;
    cursor: pointer;
    margin: 17px 12px;
    background-color: black;
    color: white;
    padding: 3px 18px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
}
/* Images Secti#navbar*/
.bg-slider{
    padding: 45px;
    background-color: tomato;
    position: relative;
    height: 500px;
    top: 16px;
}
/* About Container */
#About-container h1 {
    /* border: 2px solid black; */
    text-align: center;
    position: relative;
    top: 12px;
    font-size: 2.2rem;
    background-color: #F2F2F2;
    
}
#chairman{
    margin: 0px;
    display: flex;
}
#chairman .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    text-align: center;
}

#chairman .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#chairman .box p{
    font-family: 'Bree Serif', serif;
} 
/* Client section */
#client-section{
    position: relative;
    background-color: burlywood;
    top: -60px;
}
   #client-section h1 {
    /* border: 2px solid black; */
    text-align: center;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    margin: 80px;
    height: 0px;
    padding-top: 30px;
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    padding-bottom: 40px;
   
}
#clints1{
    position: relative;
    right: 30px;
}

/* Contact Section */
#contact{
    position: relative;
    background: #fdff93;
    top: -91px;
    height: 800px;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 50%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 0px;
    text-align: center;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}
  
.btn {
    box-sizing: border-box;
    background-color:  transparent;
    /* border: 2px solid #e74c3c; */
    border-radius: 20px;
    /* color: #e74c3c; */
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px auto;
    padding: 17px  52px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    justify-content: center;
  }
  
  .btn:hover, .btn:focus {
    color:black;
    outline: 0;
  }
  
.third {
    border-color: #fdff93;
    color: black;
    box-shadow: 0 0 40px 40px #fdff93 inset, 0 0 0 0 #fdff93;
    transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 burlywood inset, 0 0 10px 4px burlywood;
  }
  